<td><a href="#members/{{member.id}}">{{member.name}}</a></td>
<td>{{member.city}}</td>
<td>{{member.state}}</td>
<td>{{member.country}}</td>
<td class="actions"><a href="#members/{{member.id}}/update"><i class="icon-pencil"></i></a></td>